PORT=3000
MONGODB_URI=mongodb://mongodb:27017/vehicle_db
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
QUEUE_NAME=image-processing
WORKER_CONCURRENCY=2
CLOUDINARY_CLOUD_NAME=ik52488h
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
GOOGLE_VISION_API_KEY=your_google_cloud_vision_api_key
